:root {
  --primary: #782dfa9c;
  --secondary: #1d45737b;        
  --third: #ffffff;
  --background: rgb(255, 255, 255);
  --hoverr: #b9ebd5;
}

body {
  font-family: 'Work Sans', sans-serif;
}

li {                            
  list-style: none;
}

a {
  text-decoration: none;
}

label {
  color: white;
}

.button {
  width: auto;
  background-color: var(--primary);
  padding: 0.3rem;
  font-size: larger;
  color: white;
}

.button:hover {
  box-shadow: 1px 2px 15px 5px var(--primary);
}

/* exam buttons  */
.exam-button {
  background-color: var(--secondary);
  padding: 0.7rem 2.2rem;
  font-size: 1.3rem;
  border-radius: 15px;
}

.exam-button:hover {
  position: cursor;
  background-color: rgba(93, 46, 168, 0.306);
}


.menu__options {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  border-radius: 15px;
}

.menu__options:hover {
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 20px 12px#959090e5;
}

.home__show__items{
  padding: 0.4rem;
}

.home__show__items:hover {
  cursor: pointer;
  background-color: #e4e3e3;
}

.home {
  background-color: var(--third);
  width: 100%;
  height: 100%;
  padding: 2.5rem;
}

.profile__card:hover {
  cursor: pointer; 
  box-shadow: var(--secondary) 10px 10px 70px ;
}