:root {
  --primary: #4b819661;
  --secondary: #b9ebd57b;        
  --third: #ffffff;
  --background: #ffffffff;
  --hoverr: #b9ebd5;
}

body {
  font-family: 'Work Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

label {
  color: white;
}

.button {
  width: auto;
  background-color: var(--secondary);
  padding: 0.3rem;
  font-size: larger;
  color: white;
}

.button:hover {
  box-shadow: 1px 2px 15px 5px var(--secondary);
}